@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
.this span {
    display: inline-block;
}

.my_intro {
    width: 100%;
}

.sc-gswNZR {
    min-height: 430px !important;
    max-height: 430px !important;
}

.rec {
    gap: 10px !important;
    margin-left: -2px;
}