@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.pb-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Sidebar styles */
.css-hyum1k-MuiToolbar-root {
  min-height: 64px !important;
  /* background: #fcde67 !important; */
  background: #000 !important;
  color: #000 !important;
}

.logo {
  font-family: 'Niconne', cursive !important;
  font-size: 30px !important;
  color: #fcde67;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #fcde67 !important;
}

.MuiDrawer-paper {
    background: #010e !important;
} 

/* home component */

.home-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000;
}

.left-div {
    width: 50%;
    padding: 70px;
    margin-top: 50%;
    height: 70%;
    margin: auto;
    color: #fff;
}

.right-div {
    width: 50%;
    margin-top: 50%;
    height: 70%;
    border: 1px solid;
    margin: auto;
}